header{
	background: #5e4343;
	padding: 20px 0; /*20px cima e baixo e 0 direita e esquerda*/
}

.caixa{
	position: relative;
	width: 940px;
	margin: 0 auto; /*0 cima e baixo e auto p/dir e esquerda*/
}

/*POSITION 

	-STATIC: 
		*Posicionamento padrão de todo elemento HTML.
		*É posicionado pelo canto superior esquerdo no corpo do documento.
		*Não é possível alterar a posição
	- RELATIVE: 
		*Posição que é relativa àquela posição inicial.
		*Pode aplicar top, left	e altera a posição com referência a posição inicial.
	- ABSOLUTE: 
		*É um posicionamento absoluto em relação a outros estruturas. Aquela que tiver mais próxima "position:relative" ou <html>
		*Irá ignorar outros elementos e será posicionado a partir do canto esquerdo superior do documento, podendo até sobrepor eles.
		*Pode utilizar as configurações de top e left.
*/	

nav{
	position: absolute;
	top: 110px;
	right: 0;
}

nav li{
	display: inline;
	margin: 0 0 0 15px;
}

nav a{
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	text-transform: uppercase;
}

nav a:hover { /*quando o mouse estiver sobre*/
	color: dodgerblue;
	text-decoration: underline;
}

/* Pseudo-classes CSS
	hover: quando o usuário passa o cursor sobre um elemento.
	active: quando um elemento está sendo ativado.
*/	

.produtos{
	width: 940px;
	margin: 0 auto;
	padding: 50px 0; /*50px cima e baixo e 0 para lados*/
}

.produtos li{
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	background: #CCCCCC;
	margin: 0 1.5%; /*0px cima e baixo e 1.5% para os lados*/
	padding: 30px 20px; /*30px cima e baixo e 20px lados*/
	box-sizing: border-box; /*considera o espaçamento interno (padding)
					como parte do width que é a largura fixa, assim não
					desconfigura quando o usa o padding com px e % */

	/*Trabalhando com bordas*/
	border-style: solid; /*solid, dashed, dotted*/
	border-width: 2px;
	border-color: #000000;
	border-radius: 10px;

}

.produtos li:hover {
	border-color: #C78C19;
	/*font-size: 40px; não acontece o que se espera pois outros estilos estão definidos*/
}
/*#088C19;*/
.produtos li:active { /*Comportamento quando o mouse está sendo kicado*/
	border-color: #fc0fc0 ;

}

.produtos h2{
	font-size: 30px;
	font-weight: bold;
}

.produto-img {
	border-radius: 200px;
}



.produto-descricao {
	font-size: 18px;
}

.produto-preco {
	font-size: 22px;
	font-weight: bold;
	margin: 10px 0 0;/*10px cima, 0 baixo, 0 lados	*/
	/*margin-top: 10px; */
}


.produtos li:hover h2{
	font-size: 34px;	
}

.produtos-img {
	border-radius: 10px;
}

footer {
	text-align: center;
	background: url("imagens\\bg.jpg") ;
	padding: 40px 0; /*40px cima e baixo e 0 lados*/
}

.copyright{
	color: #FFFFFF; /*branca*/
	font-size: 13px;
	margin: 20px 0 0; /*20px superior, 0 para o restante*/
}

main {
	width: 90%;
	margin: 0 auto;
}

form{
	margin: 50px;
	border: 2px solid;
	border-color: #000000;
	border-radius: 7px;
	
}
form label, form legend{
	display: block;
	font-size: 20px;
	margin: 10px 10px 10px;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 30%;
	border-radius: 10px;
	background: #6b6b6b36;
	border-width: 1px;
	border-color: #6b6b6b5d;;
	box-shadow: 0 10px 20px #6b6b6b52 ;
	resize: none;
}

.checkbox {
	margin: 20px 0;
}
*{
	font-family: 'Roboto', sans-serif
}

.enviar{
	width: 10%;
	height: 5%;
	margin-left: 10px;
	background: #6b6b6b5d;
	color: #000000;
	font-size: 18px;
	font-weight: bold;
	border-radius: 5px ;
	transition: 0.5s all;
}
.enviar:hover{
	background-color: #C78C19;
	transform: scale(1.1);
}
/*hierarquia css
Força dos seletores:
css inline = 1000
id = 100
class = 10
tag = 1*/
